@import "tailwindcss";

:root {
  --color-bg: #050509;
  --color-surface: #15151b;
  --color-accent: #3b82f6;
  --color-text: #f9fafb;
}

@theme inline {
  --color-background: var(--color-bg);
  --color-foreground: var(--color-text);
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

.bg-surface {
  background-color: var(--color-surface);
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}
